
.card {
  width: 100px; 
  height: 100px; 
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  margin: 5px;
}

.card-front,
.card-back {
  width: 100%; 
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  /* transition: transform 0.6s; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  border-radius: 10px; 
}

.card-back {
  background-color: #4CAF50; 
  font-size: 24px;
  color: white;
}

.card.flipped .card-front {
  transform: rotateY(0deg);
}

.card.flipped .card-back {
  transform: rotateY(180deg);
}